body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ff00;
}

:root {
    --main-color: #00ff3788;
    --secondary-color: #00ff00;
}

header, section, footer, #idiomas, #informatica, #experiencia, #formacion-reglada, #formacion-complementaria {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

section, #idiomas, #informatica, #experiencia, #formacion-reglada, #formacion-complementaria {
    background-color: #141414;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 1px 20px rgba(255, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
}

.languages-container, .skills-container, .experience-container, .education-container, .courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
}

.language, .skill, .job, .degree, .course {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0px 2px var(--secondary-color);
    width: 280px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.language:hover,
.skill:hover,
.job:hover,
.degree:hover,
.course:hover {
    box-shadow: 0 0px 20px var(--secondary-color);
}

.language span, .skill span, .job span, .degree span, .course span {
    font-size: 100px;
    margin-bottom: 10px;
}